* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(to right, #0f003f, #480e82);
}

.to-do-list {
    margin-top: 50px;
    color: white;
    font-size: 25px;
}

.to-do-list__input {
    width: 300px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.to-do-list__main {
    margin-top: 30px;
}

.to-do-list__button-add {
    padding: 7.5px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.to-do-list__button-add--activated:hover {
    background-color: #0f003f;
    color: white;
}

.to-do-list__item {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}