* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(68, 68, 68);
    padding: 1.5rem;
}

#titulo-da-pagina {
    color: white;
    font-size: 3rem;
}

#cabecalho {
    text-align: center;
    margin-top: 1rem;
}

#input-texto {
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    width: 100%;
    max-width: 50rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    border: 0;
    padding-left: 10px;
}

#input-texto::placeholder {
    color: rgb(68, 68, 68);
}

#campo-entrada-de-dados {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

#conteudo-principal {
    text-align: center;
}

#botao-adicionar {
    min-width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#container-das-tarefas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-shrink: 1;
}

.tarefa {
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    max-width: 55rem;
    height: 4rem;
    border-radius: 10px;
}