* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(to right, #0f003f, #480e82);
}

.to-do-list {
    margin-top: 50px;
    color: white;
    font-size: 25px;
}

.to-do-list__input-text {
    width: 300px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.to-do-list__input-text--error {
    border: 2px solid red;
}

.item__input-checkbox[type="checkbox"] {
    margin-right: 10px;
}

.to-do-list__main {
    margin-top: 30px;
}

.to-do-list__button-add {
    padding: 7.5px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.to-do-list__button-add:hover {
    background-color: #0f003f;
    color: white;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 18px;
}

.item__group-left {
    display: flex;
    margin-left: 10px;
}

.item__group-right {
    display: flex;
    margin-right: 10px;
}

.item__edit-icon {
    margin-right: 10px;
}

.to-do-list__span-error {
    display: none;
    color: red;
    font-size: 10px;
    padding-left: 5px;
}

.visible {
    display: block;
}

.to-do-list__group {
    height: 41px;
}